[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[requires]
python_version = "3.6"

[dev-packages]

[packages]
apache-libcloud = "==1.0.0"
pytest = "*"
requests-mock = "*"
pytest-cov = "*"
certifi = "*"
requests = "*"
